body{
    width:1200px;
    margin:auto;
}
.twitter, .facebook{
    height:35px;
    width:160px;
    margin-bottom: 5px;
    border-bottom: grey solid 2px;
    line-height: 30px;
    padding-left: 40px;
    background-repeat: no-repeat;
}
.twitter{
    background-image: url(../images/twitter.png);
}
.facebook{
    background-image: url(../images/facebook.png);
}
