.red{
    color:#F90101;
}
.green{
    color: #00933B;
}
.yellow{
    color:#F2B50F;
}
body{
    width:1200px;
    margin:auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
h2{
    font-size:19px !important;
    font-weight: bold;
}
.navbar-brand{
    height: 43px;
}
.navbar-nav>li>a{
    font-size: 20px;
    line-height: 40px;
}
.panel-heading{
    background:url(../images/balls.png) no-repeat;
    background-position:right;
}
.overviewIntro{
    background: url(../images/overview1.png) no-repeat;
    background-position: left bottom;
    padding-left:200px;
}
#footer{
    font-size: 13px;
}
.twitter, .facebook{
    height:35px;
    width:160px;
    margin-bottom: 5px;
    border-bottom: grey solid 2px;
    line-height: 30px;
    padding-left: 40px;
    background-repeat: no-repeat;
}
.twitter{
    background-image: url(../images/twitter.png);
}
.facebook{
    background-image: url(../images/facebook.png);
}
